<div id="nav">
	<div id="logo">
		
	</div>
	<div id="menu">
		<ul>
			<li>
				<%= link_to 'Главная', root_path %>
			</li>

			<li>
				<a href="#">Компания</a>
				<ul>
					<li><%= link_to 'О компании', title_about_path %></li>
					<li><%= link_to 'Партнёрам', title_partners_path %></li>
					<li><%= link_to 'Инвесторам', title_investors_path %></li>
					<li><%= link_to 'Контакты', title_contacts_path %></li>
					<li><%= link_to 'Реквизиты', title_details_path %></li>
				</ul>
			</li>
			<li>
				<a href="#">Справочники</a>
				<ul>
					<li><%= link_to 'Поставщики', 'https://izkh.ru/catalog' %></li>
					<li><%= link_to 'Частные услуги', "https://izkh.ru/freelancers" %></li>
					<li><%= link_to 'Экстренные службы', "https://izkh.ru/emergency" %></li>
					<li><%= link_to 'Мобильный участковый', 'https://izkh.ru/precinct' %></li>
				</ul>
			</li>
			<li>
				<a href="#">Услуги</a>
				<ul>
					<li><%= link_to 'Электронное ЖКХ', title_ijkh_path %></li>
					<li><%= link_to 'Размещение рекламы на сайте', title_ad_on_site_path %></li>
					<li><%= link_to 'Частные услуги', freelance_interface_freelancers_path %></li>
				</ul>
			</li>
			<li>
				<%= link_to 'Войти в сервис АйЖКХ', main_path %>
			</li>
		</ul>
	</div>
</div>