	<div class="white_cubs">
		<div class="white_cubs_carousel">
	    <ul>
<li><div class="white_cub white_cub_1"> <a href="<%= redirect_path(url: "http://www.jtcom.ru/", local_url: "/main") %>"> <img src="../images/logo_jt.png" /> </a> </div></li>
<li><div class="white_cub white_cub_2"> <a href="<%= redirect_path(url: "http://www.bm.ru/", local_url: "/main") %>"> <img src="../images/logo_bm.png" /> </a> </div></li>
<li><div class="white_cub white_cub_5"> <a href="<%= redirect_path(url: "http://www.cyfral-group.ru", local_url: "/main") %>"> <img src="../images/logo_cyfral.gif" /> </a> </div></li>
<li><div class="white_cub white_cub_5"> <a href="<%= redirect_path(url: "http://www.global63.ru", local_url: "/main") %>"> <img src="/assets/partners/logo_gt.png" /> </a> </div></li>
<li><div class="white_cub white_cub_8"> <a href="<%= redirect_path(url: "http://www.sbytenergo.ru/", local_url: "/main") %>"> <img src="../images/logo_se.gif" /> </a> </div></li>

<li><div class="white_cub white_cub_9"> <a href="<%= redirect_path(url: "http://www.samaralan.ru", local_url: "/main") %>"> <img src="../images/logo_samaralan.gif" /> </a> </div></li>

<li><div class="white_cub white_cub_6"> <a href="<%= redirect_path(url: "http://www.zaopts.com/", local_url: "/main") %>"> <img src="../images/logo_pts.jpg" /> </a> </div></li>
<li><div class="white_cub white_cub_3"> <a href="<%= redirect_path(url: "http://www.payonline.ru/", local_url: "/main") %>"> <img src="../images/logo_payonline.png" /> </a> </div></li>
<li><div class="white_cub white_cub_4"> <a href="<%= redirect_path(url: "http://www.delta.ru/", local_url: "/main") %>"> <img src="../images/logo_delta.png" /> </a> </div></li>
<li><div class="white_cub white_cub_6"> <a href="<%= redirect_path(url: "http://www.gibdd.ru/", local_url: "/main") %>"> <img src="../images/logo_mvd.png" /> </a> </div></li>
<li>
<div class="white_cub white_cub_7"> <a href="<%= redirect_path(url: "http://xn----7sbb3armfhpk6czfe.xn--p1ai/", local_url: "/main") %>"> <img src="../images/TBO.jpg" /> </a> </div></li>
	    </ul>
		</div>
	</div>


<script>
	$( document ).ready(function() {
	    $(".white_cubs_carousel").jCarouselLite({
	        btnNext: ".next",
	        btnPrev: ".prev",
	        auto: 6000,
	        speed: 1000,
	        visible: 4,
	        scroll: 2
	    });
	});
	</script>