 	<div class="data_box_top">
			<p>
				Ввод показаний счётчика
			</p>
	</div>

	<%= form_for MeterReading.new, remote: true, url: "/save_meter_readings", method: :post do |m_r|%>
		<div class="price_pay">
			<% @fields.each do |field|%>
					<div class="clear"></div>

					<label for="" class="meter_reading_label"><p><%= field.title %></p>
						<span>Предыдущие показания:</span>

						<% @reading = 'Показания отсутствуют' %>
						<% @reading = field.meter_readings.order("created_at DESC").limit(1).first.reading if field.meter_readings.order("created_at DESC").limit(1).first %>

						<input disabled class="tariff_input_reading" value="<%= @reading %> " > </input>
						
						<input hidden style="display:none" type="text" name="meter_reading[][field_id]" value="<%= field.id %>">


						<input hidden style="display:none" name="meter_reading[][prev_reading]" value="<%= @reading %> " > </input>
					
						<span>Новые показания:</span><input type="text" id="meter_reading_reading" name="meter_reading[][reading]" class="tariff_input_reading">
						<div class="clear"></div>				
					</label>

			<% end %>

		
		</div>

		<div class="pay_ended">
				<%= m_r.submit "Сохранить показания", class: "tariff_button", style: "width: 200px;" %> 
		</div>

	<% end %>


	<div class="remove_readings">
			<a id="meter_readings_reset" onclick="$('#m_r_reset_confirm').fadeIn();">Обнулить показания</a>
			<a id="meter_readings_delete_last" onclick="$('#m_r_delete_last_confirm').fadeIn();">Стереть последние показания</a>		
	</div>

	<div class="delete_service_confirm" id="m_r_reset_confirm">
		<p>Обнулить показания?</p>
		<%= link_to "Да", "/meter_readings_reset/#{@service_id}", remote: true, method: :put, class:"delete_service_button"  %>
		<button class="delete_object_button_no" onclick="$('.delete_service_confirm').fadeOut();">Нет</button>		
	</div>

	<div class="delete_service_confirm" id="m_r_delete_last_confirm">
		<p>Стереть последние показания?</p>
		<%= link_to "Да", "/meter_readings_delete_last/#{@service_id}", remote: true, method: :put, class:"delete_service_button"  %>
		<button class="delete_object_button_no" onclick="$('.delete_service_confirm').fadeOut();">Нет</button>		
	</div>