<script>
        function validateForm(){
                var x=$('input.reg_input').val();
                if (x==null || x=="" || parseFloat(x) < 100.0 || isNaN(x))
                  {
                        $("p#amount_total_error").show();
                        $("#tax_total").hide();
                        return false;
                  }
                else
                {
                        var $submit_button = $('form#pay_form > input[type="submit"]');
                        $submit_button.setAttribute('onclick','');
                        $submit_button.click();
                }

                }
</script>

<div class="box_right box_blue">
        <div class="box_top_right ">
                <p>Оплата</p>
        </div>
                
        <div id="gt_info">
                
        </div>

<%= form_tag("/pay", remote: true, method: :get, id: "pay_form" ) do %>
        <div class="amount_box">
                <p>Cумма к оплате, руб:</p>
                <input disabled="disabled" class="reg_input" id="amount_total" name="amount_total" type="text" value="">
                <input style="display:none;" id="account_id" name="account_id" type="text" value="">
                <input style="display:none;" id="rebill_anchor" name="rebill_anchor" type="text" value="">
        </div>

        <p id="tax_total">Комиссия составит: <span id="tax_total_value">0.0</span> руб.</p>
        <p id="tax_total_error">Введите корректную сумму</p>
        <p id="amount_total_error">Сумма должна быть не менее 100р.</p>

        <div class="recipe_is_paid" style="display:none;">
                <label>
                        <input class="recipe_check" id="some_input" type="checkbox" name="recipe_is_paid">
                        <span id="recipe_is_paid_span" class="login_input_check"><p>Счёт оплачен </p></span>        
                </label>
        </div>

        <div class="recipe_is_paid_freeze" style="display:none;">
                <label>
                        <span id="recipe_is_paid_span_freeze"><p>Счёт оплачен </p></span>        
                </label>
        </div>  

        <div class="end">
            <div class="visa"></div>
            <div class="mc"></div>
            <div class="visa_mc">
                <p><%= radio_button_tag(:pay_client, "bank-card", true) %>
                <%= label_tag(:pay_client_label, "Банковская карта") %><br>
                <%= radio_button_tag(:pay_client, "yandex-money") %>
                <%= label_tag(:pay_client_label, "Яндекс.Деньги") %><br>
                <%= radio_button_tag(:pay_client, "web-money") %>
                <%= label_tag(:pay_client_label, "WebMoney") %></p>
            </div>

               <%= submit_tag("Оплатить", :class=>:end_button, disabled: true, id: "pay_submit", onclick: "validateForm(); return false;")  %>
         <!--        <div style="position:relative;">
                        <%= button_tag("Выбрать карту", type: "button", 
                                :class=>:end_button, disabled: true, style: "float: left;margin-right: 10px;", id: 'choose_card', 
                                onclick:"$('div.cards_list').slideToggle();return false;" )  %>
                </div> -->

 

                <div class="cards_list" style="display:none; text-align: left;">
                        <% unless @cards == [] %>
                                <% @cards.each do |card| %>
                                        <p class="card_<%= card.id %>"> 
                                                <span onclick="$('input#rebill_anchor').val('<%= card.rebill_anchor %>'); $('form#pay_form input#pay_submit').click();" ><%= card.card_title %></span> 
                                                <span class="remove_card" > <%= link_to 'Удалить', destroy_card_path(:card_id => card.id), :method => :delete, :remote => true, :confirm => 'Вы уверены?' %> </span> 
                                        </p> 
                                <% end %>
                        <% else %>
                                <p>У Вас нет сохранённых карт.</p>        
                        <% end %>
                </div>

        </div>
<% end %>


        <div id="save_amount_form" style="display:none;">
                <%= form_tag("/save_account_as_paid", remote: true, method: :post) do %>

                        <%= hidden_field_tag "amount_total", name: "amount_total", class: "amount_total_hand_switch", value: 0.0 %>
                        <%= hidden_field_tag "account_id", name: "account_id", value: "" %>
                        
                        <%= submit_tag("Сохранить счёт как оплаченный", :class=>:end_button, disabled: true, style: "width: 320px;") %>
                        
                <% end %>
        </div>

</div>

<%= hidden_field_tag "vendor_id", name: "vendor_id", value: "" %>

<script>

var vendor_id = parseInt($('input#vendor_id').val());
var commission = 0;

        $('#amount_total').keyup(function () {
        $("p#amount_total_error").hide();
        if (vendor_id == 5 || vendor_id == 40 || vendor_id == 43 || vendor_id == 44) 
        {        
                amount = parseFloat($(this).val());
                tax_total = 0.0
                $('#tax_total_value').text(tax_total);
        }
        else if (document.getElementById('pay_client_yandex-money').checked)
        {
                var amount = parseFloat($(this).val());
                var tax_total = Math.round((amount*6)) / 100;
                $('#tax_total_value').text(tax_total);
        }
        else
        {
                var amount = parseFloat($(this).val());
                var tax_total = Math.round((amount*commission) * 100) / 100;
                $('#tax_total_value').text(tax_total);
        }

        if( isNaN(amount) )
        {        
                $("#tax_total").hide();
                $("#tax_total_error").show();
        }
        else
        {
                $("#tax_total_error").hide();
                $("#tax_total").show();
                $('#save_amount_form #amount_total').val(amount);
        }
        

        });

        $('input:radio[name="pay_client"]').change(function () {
        $("p#amount_total_error").hide();
        if (vendor_id == 5 || vendor_id == 40 || vendor_id == 43 || vendor_id == 44) 
        {        
                amount = parseFloat($('#amount_total').val());
                tax_total = 0.0
                $('#tax_total_value').text(tax_total);
        }
        else if (document.getElementById('pay_client_yandex-money').checked)
        {
                var amount = parseFloat($('#amount_total').val());
                var tax_total = Math.round((amount*6)) / 100;
                $('#tax_total_value').text(tax_total);
        }
        else
        {
                var amount = parseFloat($('#amount_total').val());
                var tax_total = Math.round((amount*commission) * 100) / 100;
                $('#tax_total_value').text(tax_total);
        }

        if( isNaN(amount) )
        {        
                $("#tax_total").hide();
                $("#tax_total_error").show();
        }
        else
        {
                $("#tax_total_error").hide();
                $("#tax_total").show();
                $('#save_amount_form #amount_total').val(amount);
        }
        

        });

</script>