<div id="place_info_container">
	<div class="object_name">
		<p id="place_card_title" style="font-size: 20px;padding: 30px 35px;font-weight: bold;color: #47555e;">
			<span id="place_title_in_card"><%= @place.title %></span> <button id="service_add_button" onclick="$('#service_box').fadeToggle(); 
			 $('html, body').animate({ scrollTop: $(document).height() }, 'slow');
			 return false;">Добавить услугу</button>
		</p>
	</div>


	<div class="service_name" style="min-height: 100px;">
		<%= render 'web_interface/shared/place_service_list'%>
	</div>
	
	
	<div style="height: 45px;" class="object_adress">
		<p style="width: 68px;display: inline-block; min-height: 43px;">Адрес:</p>
		<p style="display: inline-block; width:210px; color: rgb(19,99,178); width: 320px;" class="adress_blue">
			<%= @place.city %>, 
			<%= @place.street %>, 
			<%= @place.building %>, 
			 кв.<%= @place.apartment%> 
		</p>
	</div>	
	
</div>

<%= form_for(@place, remote: true, url: web_interface_place_path(@place.id), :method => :put ) do |f| %>
<div id="place_edit_container">
		<div class="box_top_right ">
			<p>Редактирование места</p>
		</div>
		<div class="choise_place">
			<%= f.text_field(:title, :value => @place.title, :placeholder=>"Введите название объекта", :class=>:reg_place) %>
			<%= f.text_field(:city, :value => @place.city, :placeholder=>"Введите город", :class=>:reg_place) %>
			<%= f.text_field(:street, :value => @place.street, :placeholder=>"Введите улицу", :class=>:reg_place) %>
			<%= f.text_field(:building, :value => @place.building, :placeholder=>"Введите номер дома", :class=>:reg_place) %>
			<%= f.text_field(:apartment, :value => @place.apartment, :placeholder=>"Введите номер квартиры", :class=>:reg_place) %>
		</div>
</div>

<div class="edit_object" style="padding-top: 5px;bottom: 0px;position: relative;">
		<div class="accept_place">
			<input type="text" id="id" name="id" style="display:none" value="<%= @place.id %>">
			<input id="place_edit_button" type="button" onclick="placeEdit();" class="accept_service_button place_edit_button" value="Редактировать">
		</div>
</div>
<% end %>

<div id="delete_place_confirm">
	<p>Удалить объект?</p>

	<%= form_tag(deactivate_web_interface_place_path(@place.id), remote: true, method: :put, style: "float: right;height: 0px;width: 100%;") do |f| %>
		<input type="text" id="id" name="id" style="display:none" value="<%= @place.id %>">
		<input type="submit" class="delete_object_button_yes" value="Да">
	<% end %>
	
	<button class="delete_object_button_no" onclick="$('#delete_place_confirm').fadeOut();">Нет</button>		
</div>

<button class="delete_object_button" onclick="$('#delete_place_confirm').fadeIn();">Удалить</button>



