<%= form_for(Place.new, remote: true, url: "/place", method: :post) do |f| %>
	<div class="box_top_right ">
		<p>Добавление места</p>
	</div>
	<div class="choise_place" style="padding-left: 20px;">
		<%= f.text_field(:title, :placeholder=>"Введите название объекта", :class=>'reg_place place_validate place_clear') %>
		<%= select_tag("place[type_id]", options_for_select(@place_types.map {|pt| [pt.title, pt.id, {listType: "place_type"}]}), :class=>'reg_place_select place_validate', prompt: "Выберите тип объекта" ) %>
		<%= f.text_field(:city, :placeholder=>"Введите город", :class=>'reg_place place_validate place_clear') %>
		<%= f.text_field(:street, :placeholder=>"Введите улицу", :class=>'reg_place place_validate place_clear') %>
		<%= f.text_field(:building, :placeholder=>"Введите номер дома", :class=>'reg_place place_validate place_clear') %>
		<%= f.text_field(:apartment, :placeholder=>"Введите номер квартиры", :class=>'reg_place place_clear') %>
	</div>
	<div class="accept_place">
		<%= f.submit("Добавить место",  onclick: 'place_validate(); return false;', class: "accept_service_button accept_place_button") %>
		<!-- 	<input type="button" class="accept_service_button" value="Добавить услугу"> -->
	</div>
<% end %>

<script>
var place_validate = function()
{
	var i = 0;
	$('.place_validate').each(
		
		function(){
			if(this.value == '')
			{
				console.log(this.value);
				$( this ).css('border','2px red solid' );
				i += 1;
			}
			else
			{
				$( this ).css('border','1px solid #8da9bc' );
			}
		}
			
		
		)
	if (i==0) { 
		$('.new_place').ajaxSubmit(); 
			}
	else { 
		popUpRender('Пожалуйста, заполните выделенные поля.');
		}
}	
</script>