<% if params[:controller] == "registrations" %>
	<div id="serviceFreeze" style="position: absolute; width: 100%; height: 100%; bottom: 0px; z-index: 10;"></div>
<% else %>
	<div id="serviceFreeze" style="position: absolute; width: 100%; height: 0%; bottom: 0px; z-index: 10;"></div>
<% end %>
<div class="box_top_right ">
	<p>Добавление услуг</p>
</div>
<%= form_for Service.new, remote: true, url: "/service", method: :post do |s_f|%>
	<%= s_f.hidden_field :place_id, value: @place_id %>
	<div class="choise_service">
		<div class="service">
		<%= s_f.select :service_type_id, options_for_select(@service_types.map {|s_t| [s_t.title, s_t.id, {listType: 'serviceType', id: s_t.id}]}),prompt: "Выберите тип услуги ЖКХ"%>
		</div>

		<div class="type_man_who_have_service">
		<%= s_f.select :vendor_id, options_for_select(@vendors.map {|v| [v.title, v.id, {listType: 'vendor', id: v.id, serviceTypeId: v.service_type_id}]}), prompt: "Выберите поставщика"%>		
		</div>

<div class="choise_tarif">
	<%= s_f.fields_for :tariff do |t|%>
		<%= t.select :tariff_template_id, options_for_select(@tariff_templates.map {|t_t| [t_t.title, t_t.id, {vendorId: t_t.vendor_id, listType: 'tariff', id: t_t.id}]}), prompt: "Выберите тариф"%>

		<div id="field_templates_box">
			<% @field_templates.each do |field_template| %>

				<div class="filed_template_section" style="display:none;" tariffTemplateId="<%= field_template.tariff_template_id %>">				
					<%= field_template.title %>
					<%= t.text_field :value, disabled: true, value: field_template.value%>
					<%= t.hidden_field :field_template_id, value: field_template.id, name: "service[tariff][fields[][#{field_template.id}]][field_template_id]" %>
					<%= field_template.field_units %>
					<% if field_template.is_for_calc %>
						<%= t.fields_for "fields[][#{field_template.id}]][meter_reading]" do |m_r|%>
							<br />
							<%= field_template.reading_field_title %> 
							<%= m_r.text_field :reading, class: "meter_reading_field" %>
						<% end %>
					<% end %>
				</div>

			<% end %>
		</div>

	<% end %>
</div>

		<input id="service_user_account" name="service[user_account]" type="text" onfocus="$('#serviceFreeze').css('height','0%');" class="dog_number" placeholder="Номер договора">

	</div>
	<div class="accept_service">
		<%= s_f.submit("Добавить услугу", class: "accept_service_button", onclick:"$('#objectFreeze').css('display','block'); $('#objectFreeze').css('height','60%'); ") %>
	</div>
<% end %>
<script>
	//$('#field_templates_box').remove();
</script>
<script>
(function($) {
$(function() {

  $('input, select').styler();

})
})(jQuery)



</script>