<div class="top_plate">
<p class="text_plate_gray">Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
<p class="text_plate_blue">Регистрация нового Пользователя</p>
</div>

<div class="container_boxes">
<%= form_for(resource, remote: true, as: resource_name, url: registration_path, method: :post) do |f| %>

<div class="horizontal_div">
<div class="box_left box">
<div class="data_box_top">
<p>Введите данные пользователя</p>
</div>

<div class="name_email">
<%= f.text_field :first_name, autofocus: true, placeholder: "Ваше имя" ,class: "reg_input_first reg_input reg_freeze" %>
<%= f.email_field :email, placeholder: "Адрес электронной почты", class: "reg_input reg_freeze" %>
<%= f.text_field :phone_number, placeholder: "Номер телефона", class: "reg_input reg_freeze" %>
</div>
<div class="two_pass">
<%= f.password_field :password, placeholder:  "Пароль", class: "reg_input reg_freeze showpassword" %>
<!-- <p class="pass_req"> *Пароль должен содержать
не менее восьми символов </p> -->
<!--%= password_field_tag(:reg_againpass, "", :placeholder=>"Повторите пароль", :class=>:reg_input) %-->
</div>

<!-- <div class="accept_oferta">
<label><%= check_box_tag(:some_input, class: "reg_freeze") %>
<span id="reg_oferta_second_check" class="login_input_check"></span>
</label><p>Я согласен с условиями оферты</p>
</div> -->

<div class="accept_data">
<!--<input  type="buttocn" class="accept_data_button" value="Подтвердить данные"> -->
<!--<%= f.submit("Подтвердить данные", class: "accept_service_button") %> -->

<%= f.submit("Подтвердить данные", class: "accept_data_button reg_freeze") %>
<div class="reg_disable"></div>
</div>

</div>
<div class="box_right box_blue">
<div class="box_top_right ">
<p>Информация</p>
</div>

<div class="info_text">

<div id="registrations_requirements">
	<ul>
		<li><p class="step">Все поля обязательны для заполнения.</p></li>
		<li><p class="step">Пароль должен содержать не менее 6 символов.</p></li>
		<!-- <li><p class="step">После подтверждения данных на Ваш адрес электронной почты придёт письмо с ссылкой для активации аккаунта.</p></li> -->
	</ul>
</div>

</div>

<!-- 
<div class="info_text">
<p class="info_text_begin">Регистрация выполняется в несколько шагов</p>
<p class="text_bold_info">Шаг 1</p>
<p class="step">Для начала работы вам нужно ввести свои регистрационные данные и согласиться с условиями оферты</p>
<p class="text_bold_info">Шаг 2</p>
<p class="step">Внести данные вашего жилья, в форме «Добавление места», обратите внимание на правильность введенных данных.</p>
<p class="text_bold_info">Шаг 3</p>
<p class="step">Для добавления к объекту услуг, выберите тип услуги и конкретного поставщика из списка, а так же его тариф. Далее следует ввести номер лицевого счета или договора на оказание услуг и нажать «Добавить услугу». Вы можете добавить любое количество услуг на этом экране или продолжить прикрепление услуг в разделе «Профиль».</p>
<p class="text_bold_info">Шаг 4</p>
<p class="step">Переходите в раздел "оплатить услуги" для оплаты новых счетов</p>
</div>

 -->
</div>
</div>

<% end %>



</div>
