%div.jumbotron.metrics-jumbo
  %div.container
    %div.row
      %div.metrics
        %h2 АйЖКХ - Счетчики
        = simple_form_for :utility_metric_settings, url: utility_metric_settings_path, method: :post, remote: true, :html => {:class => 'form-inline' }do |f|
          %div.vendor-select
            = f.input :vendor_id, collection: @vendors.map {|v| [v.title, v.id]}, label: false, prompt: "Выберите поставщика услуг", input_html: {class: 'form-control'}
          %div.vendor-button
            = f.submit "Ввести показания", class: "btn btn-success"
%div.container
  %div.row
    %div.metric-forms#forms-anchor
%hr
.container
  .row
    %table.table.table-striped
      %thead
        %tr
          %th Поставщик
          %th Э/э - День
          %th Э/э - Ночь
          %th Э/э - Общий
          %th Вода - Холодная
          %th Вода - Горячая
          %th Газ
          %th Дата
          %th Принято
          %th
      %tbody
        - @utility_metrics.each do |m|
          %tr
            %td= m.vendor.title
            %td= m.energy_phase_one
            %td= m.energy_phase_two
            %td= m.energy_phase_common
            %td= m.water_cold
            %td= m.water_hot
            %td= m.gas
            %td= m.created_at.strftime('%d.%m.%Y')
            %td
              - if m.processed
                Да
              - else 
                Нет
            %td= link_to '&times;'.html_safe, utility_metric_path(m), method: :delete, data: {confirm: "Действительно удалить?"}