$('a#<%= @place.id %>').html('<li><p class="place_title"><%=@place.title%></p><p class="place_sub_title"><%= "#{@place.city}, #{@place.street}, #{@place.building}, #{@place.apartment}" %></li>');
$('#place_title_in_card').html('<%= @place.title %>');
$('p.adress_blue').html('<%= @place.city %> <%= @place.street %> <%= @place.building %>, кв.<%= @place.apartment%>');
            $('#place_edit_container').fadeOut('fast',function(){
                $('#place_info_container').fadeIn('slow');
                $('#place_edit_button').val('Редактировать');
                $('#place_edit_button').prop('type','button');
            })

if ("<%= @nsk.first %>") {
        $('#cyfral_banner').html('<img style="padding-top: 30px;" src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-756897861289/izkh/assets/mirt-banner.jpg" />');
    }
else {
	$('#cyfral_banner').html('');
}

popUpRender('<%= @message %>');