<div class="top_plate">
	<p class="text_plate_gray">Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
	<p class="text_plate_blue">Модерация частных услуг</p>
</div>
<div class="container_boxes">
	<div class="horizontal_div" style="width: 100%; float: none;">
		<div class="box_blue" id="" style="min-height:245px;width:100%">
			<div class="non_utility_catalog">

				<% if current_user.email == 'john.loudless@gmail.com' %>
					 <p> 
				 		<%= link_to "Опубликовать всё", "/publish_all_freelancers", method: :put, remote: true, class: "publish_all_freelancers" %>
				 	</p>
				<% end %>
 				<br>

				<div class="nu_vendors">

								<% @freelancer.each do |freelancer| %>
							
										<p> <!-- freelancers_path(freelancer.id) -->
											<span class="nu_subtitle"><%= link_to freelancer.title, "javascript:void(0);", id: "freelancer_#{freelancer.id}", onclick: "$('div#nu_vendor_#{freelancer.id}').slideToggle('');", published: freelancer.published.to_s %> </span>

											<div id="nu_vendor_<%= freelancer.id %>" class="nu_vendor_info">

												<p><span>Зарегистрировано: </span><%= freelancer.created_at.to_formatted_s(:short) %>, <%= freelancer.created_at.year %></p>

												<% if freelancer.picture_url %>
												<img src="<%= freelancer.picture_url %>" />
												<% end %>		

												<% if freelancer.description %>
													<p class="nu_vendor_description"><span>Описание: </span><%= freelancer.description %></p>
												<% end %>		

												<div class="clear"></div>								
												
												<% if freelancer.phone %>
													<p><span>Контактный телефон:</span> <%= freelancer.phone %></p>
												<% end %>

												<% if freelancer.work_time %>
													<p><span>Время работы:</span> <%= freelancer.work_time %> </p>
												<% end %>

												<% unless freelancer.published == true %>
													<%= link_to "Опубликовать", 
														freelancer_moderation_path(id: freelancer.id, published: true), 
														method: :put, remote: true, class: "freelancer_action" %>	
												<% else %>
													<%= link_to "Снять с публикации", 
														freelancer_moderation_path(id: freelancer.id, published: false), 
														method: :put, remote: true, class: "unpublish_freelancer freelancer_action" %>	
												<% end %>

												<%= link_to "Удалить", 
													freelancer_moderation_path(id: freelancer.id), 
													method: :delete, remote: true, class: "delete_freelancer freelancer_action" %>	
													
											</div>
										</p>
							
								<% end %>
				</div>

			</div>
	 	</div>
	</div>
</div>

<!-- 				<div class="non_utility_service">
					<select style="background-color: #ccc;color: grey;" id="service_service_type_id" name="service[service_type_id]">
						<option value="0" data-skip="1" selected="selected">Выберите категорию</option>
						<option value="0" listType="showAllCategories">Показать всё</option>
							<% @freelance_category.each do |freelance_category| %>
									<option value="<%= freelance_category.id %>" id="<%= freelance_category.id %>" listType="catalog">
										<%= freelance_category.title %>
									</option>
							<% end %>
					</select>
				</div>
 -->

<style>

	div.non_utility_catalog > p:first-child
	{
		text-align: right;
	}

	.nu_vendors a.freelancer_action
	{
		display: inline-block;
		padding: 5px 50px;
		background: #A4E786;
		margin: 10px 0px;
	}

	.nu_vendors a.delete_freelancer
	{
		background: #E66E6E;
	}

	.nu_vendors a.unpublish_freelancer, a[published="false"]
	{
		background-color: #C7C7CC;
	}

	a[published="true"]
	{
		background-color: #A4E786;
	}
</style>

<script>
	(function($) {
	$(function() {

	  $('input, select').styler();

	})
	})(jQuery)
</script>