%p
  %b id:
  = @place.id
%p
  %b title:
  = @place.title
%p
  %b city:
  = @place.city
%p
  %b street:
  = @place.street
%p
  %b building:
  = @place.building
%p
  %b apartment:
  = @place.apartment
%p
  %b is_active:
  = @place.is_active