<div class="top_plate">
  <p class="text_plate_gray">Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
  <p class="text_plate_blue">Обратная связь</p>
</div>

<div class="container_boxes">
  <div class="horizontal_div" style="width: 100%; float: none;">
    <div class="box_blue box_left" id="" style="min-height:245px; padding: 10px 0px 35px 0px; color: #6a7f8d;">

      <div id="feedback_load">

      <div class="loading bar">
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
         <div></div>
      </div>

        
      </div>


      
      <p class="feedback_alert"><%= flash.alert %></p>

      <%= form_for @message, :url => feedback_path do |form| %>
        <fieldset class="feedback_fields">
          <div class="feedback_field">
            <%= form.label :name, 'Имя:' %>
            <%= form.text_field :name, value: current_user.first_name %>
          </div>
          
          <div class="feedback_field">
            <%= form.label :email, 'Адрес электронной почты:' %>
            <%= form.text_field :email, value: current_user.email %>
          </div>
          <div class="feedback_field">
            <%= form.label :subject, 'Тема:' %>
            <%= form.text_field :subject %>
          </div>
          
          <div class="feedback_field">
            <%= form.label :body, 'Сообщение:' %>
            <%= form.text_area :body %>
          </div>
        </fieldset>
        
        <fieldset class="feedback_actions">
          <%= form.submit "Отправить", onclick: '$("#feedback_load").show();' %>
        </fieldset>
      <% end %>
    </div>

<div class="box_right box_blue">
<div class="box_top_right ">
<p>Информация</p>
</div>

<div class="info_text">

<p class="feedback_p">Уважаемый Клиент!</p>
<p class="feedback_p">Мы предлагаем Вам оценить работу нашего сайта, а также мобильного приложения, которое доступно в AppStore. </p>
<p class="feedback_p">Уверены, что благодаря Вашим отзывам и пожеланиям, наш сервис станет еще лучше!</p>
<p class="feedback_p">Ваше мнение очень важно для нас!</p>

</div>

</div>

  </div>
</div>

