<div class="top_plate">
	<p class="text_plate_gray">Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
	<p class="text_plate_blue">Аналитика</p>
</div>

<div class="container_boxes">
	<div class="horizontal_div" style="width: 100%; float: none;">
		<div class="box_blue" id="" style="min-height: 245px;padding: 25px;width: 880px;">

<% unless @month_analytics == [] %>

	<h1 class="analytic_title">Суммарно по месяцам: </h1>
		<div class="month_total_wrap" style="height: 250px;">
				<div id="month_total" style="height: 250px;"></div>
		</div>
		<p>Итого за всё время: <%= @month_total %> руб.</p>
<script>
	monthA = 'Январь,Февраль,Март,Апрель,Май,Июнь,Июль,Август,Сентябрь,Октябрь,Декабрь'.split(',');

	new Morris.Line({
	  // ID of the element in which to draw the chart.
	  element: 'month_total',
	  // Chart data records -- each entry in this array corresponds to a point on
	  // the chart.
	  data: [
	  <% @month_analytics.each do |m_a| %>
	  	{ month: "2013-<%= m_a.month %>", value: <%= m_a.amount %> },
		<% end %>
	  ],
	  // The name of the data record attribute that contains x-values.
	  xkey: 'month',
	  xLabels: 'month',
	  // A list of names of data record attributes that contain y-values.
	  ykeys: ['value'],
	  // Labels for the ykeys -- will be displayed when you hover over the
	  // chart.
	  labels: ['Сумма'],
	  dateFormat: function (x) { return (monthA[new Date(x).getMonth()]).toString(); }
	});

	d = new Date();
	

</script>

<h1  class="analytic_title" style="margin-top: 50px;">Детализация за каждый месяц:</h1>
			
			<% @month_analytics.reverse_each do |m_a| %>
<div class="month_wrap" style="display: inline-block; width: 49%; height: 49%;">
	
				<p><%= @monthA[m_a.month-1] %></p>
				<p style="font-weight:bold; "><%= m_a.amount %> руб.</p>
	
				<div id="month_<%= m_a.month %>" style="height: 430px;"></div>
	
				<script>
				Morris.Donut({
				  element: 'month_<%= m_a.month %>',
				  data: [
	
				  	<% m_a.place_analytic.each do |p_a| %>
						<% p_a.service_analytic.each do |s_a| %>
							{label: '<%= escape_javascript(s_a.title.gsub("\"","")) %>', value: <%= s_a.amount %>},
						<% end %>
					<% end %>
				    
				  ]
				  ,formatter: function (y) { return y + " руб." }
				  ,colors: ['#FF5E3A','#FFDB4C','#87FC70','#1AD6FD','#FF2D55','#5856D6','#FFCC00']
				});

				</script>
</div>
			<% end %>
<% else %>

<h1 class="analytic_title">Вы пока не совершили ни одного платежа.</h1>

<% end%>


	 	</div>
	</div>
</div>

