= link_to 'users', admin_users_path
|
= link_to 'vendors', admin_vendors_path
|
= link_to 'reports', admin_reports_path
|
= link_to 'uploads', admin_uploads_path
|
= link_to 'queries', admin_analytic_queries_path

%hr