<div class="top_plate">
	<p class="text_plate_gray">Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
	<p class="text_plate_blue">Тарифы и поставщики</p>
</div>

<div class="container_boxes">
  <div class="horizontal_div" style="width: 100%; float: none;">
    <div class="box_blue" id="" style="min-height:245px;width:880px;padding: 25px; background-color: #e8eef2; font-size: 0.9em;">
       
      <table>
            <tr>
                  <td><p>Наименование получателя</p></td>
                  <td><p>Регион</p></td>
                  <td><p>Вид услуг</p></td>
                  <td><p>Комиссия, (%)</p></td>
            </tr>

            <% @vendors.order(:commission).each do |vendor| %>
                  <tr>
                  <td><p><%= vendor.title %></p></td>
                  
                  <td>
                        <% if vendor.cities != [] %>
                        <p><%= vendor.cities[0].title %></p>
                        <% end %>
                  </td>
                  
                  <td><p><%= vendor.service_type.title %></p></td>
                    <td>
                        <p>
                              <% if vendor.commission == 0.0 %>
                                    <%= vendor.commission.to_i %>
                              <% else %>
                                    <%= vendor.commission %>
                              <% end %>
                        </p>
                    </td>
                  </tr>
            <% end %>  
         
       </table>
       

    </div>
  </div>
</div>

<style>
      table{
            position: relative;
            margin: 0 auto;
            width: 100%;
      }

      td{
            padding: 5px;
            border: 1px #686868 solid;
      }

      table tr:first-child
      {
            font-weight: 600;
            background-color: #CCC;
      }
</style>