%div.col-lg-8
  = simple_form_for @query, url: admin_analytic_query_path(@query), method: :put do |f|
    = f.input :title
    = f.input :query
    .col-lg-10.col-lg-offset-2.buttons-wrapper
      = f.submit
      = link_to('Назад', admin_query_index_path)