<div class="top_plate">
	<p class="text_plate_gray">Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
	<p class="text_plate_blue">Главная страница</p>
	<%= link_to "", app_download_path, class: "app_download" %>
</div>
	<div class="horizontal_div" style="margin-top: 30px;width: 100%; float: none; display: none;">
		<div class="box_blue" id="" style="min-height:45px;width:930px;">
					<div class="data_box_top">
			<p>Важная информация</p>
		</div>
<p style="text-align: left; padding: 20px;"> 
<!-- place here important info -->
 </p>
	 	</div>
	</div>

<div class="horizontal_div_main">
	<div class="box_left box_blue">
		<div class="data_box_top">
			<p>Сервис готов к работе</p>
		</div>
		<div class="test_text">
			<h6>Уважаемые друзья!</h6>
<p>Мы рады приветствовать Вас на сайте нашего сервиса. </p>
<p>Электронный коммуникационно-финансовый сервис «АйЖКХ» только начинает свою работу. Наша задача – сделать Ваше взаимодействие с организациями-поставщиками услуг  быстрым, простым и удобным. </p>
<p>Это первый сервис такого рода. </p>
<p>Мы хорошо осознаем, что пока не все реализовано, но у нас есть видение, как должно все работать, и есть план, как все организовать. У Вас есть уникальная возможность принять участие в формировании нужного и полезного сервиса. </p>
<!-- <p>Попробуйте воспользоваться нашим приложением, а затем ответьте на несколько вопросов в анкете, которая придет Вам на электронную почту после использования сервиса. Ваши ответы и комментарии помогут  понять, что более приоритетно для Вас, наших пользователей, и скорректировать свои действия таким образом, чтобы Ваше удобство было на первом месте.</p> -->
<p>С уважением,	команда «АйЖКХ».</p>

		</div>
		<div class="test">
			<% unless current_user %>
			<input type="button" class="test_button" value="Регистрация">
				<%= link_to "", "offer", class: "test_button_a" %>
			<% else%>
			<input type="button" class="test_button" value="Перейти в профиль">
				<%= link_to "", "profile", class: "test_button_a" %>
			<% end %>
		</div>
	</div>

	<div class="box_right box blue" style="margin-bottom: 30px; background-color: #d5e6f2;">
	
	<div class="data_box_top">
		<button class="guide_prev"> &larr;  </button>
		<button class="guide_next"> &rarr; </button>
		<p class="guide_top">Информация</p>

	</div> 

	<div class="guide_box">

		<div class="guide_carousel">
			<ul>
				<li>
					<p class="guide_step">Шаг 1</p>
					<img src="../images/1-1.png" alt="Шаг первый"/>
					
					<p class="guide_text">Регистрация на сервисе.</p>

				</li>
				<li>
					<p class="guide_step">Шаг 2</p>
					<img src="../images/2-1.png" alt="Шаг второй"/>
					
					<p class="guide_text">Прикрепление объекта.</p>

				</li>
				<li>
					<p class="guide_step">Шаг 3</p>
					<img src="../images/3-1.png" alt="Шаг третий"/>
					
					<p class="guide_text">Добавление услуг к сохранённому объеку недвижимости.</p>

				</li>
				<li>
					<p class="guide_step">Шаг 4</p>
					<img src="../images/4-1.png" alt="Шаг четвёртый"/>
					
					<p class="guide_text">Получение счетов по текущему объекту.</p>

				</li>
				<li>
					<p class="guide_step">Шаг 5</p>
					<img src="../images/5-1.png" alt="Шаг пятый"/>
					
					<p class="guide_text">Оплата счёта.</p>

				</li>
			</ul>
		</div>

	</div>

</div>

	<div class="box_right box blue" id="carousel_box" style="clear: both;">

		<div class="data_box_top ">
			<p>Партнеры</p>
		</div>
		<div class="white_cubs">

	<div class="white_cubs_carousel">
	    <ul>
<li><div class="white_cub white_cub_1"> <a href="<%= redirect_path(url: "http://www.jtcom.ru/", local_url: "/main") %>"> <img src="../images/logo_jt.png" /> </a> </div></li>
<li><div class="white_cub white_cub_2"> <a href="<%= redirect_path(url: "http://www.bm.ru/", local_url: "/main") %>"> <img src="../images/logo_bm.png" /> </a> </div></li>
<li><div class="white_cub white_cub_5"> <a href="<%= redirect_path(url: "http://www.cyfral-group.ru", local_url: "/main") %>"> <img src="../images/logo_cyfral.gif" /> </a> </div></li>
<li><div class="white_cub white_cub_6"> <a href="<%= redirect_path(url: "http://www.zaopts.com/", local_url: "/main") %>"> <img src="../images/logo_pts.jpg" /> </a> </div></li>
	    </ul>
	</div>
	<div class="white_cubs_carousel">
	    <ul>
<li><div class="white_cub white_cub_3"> <a href="<%= redirect_path(url: "http://www.payonline.ru/", local_url: "/main") %>"> <img src="../images/logo_payonline.png" /> </a> </div></li>
<li><div class="white_cub white_cub_4"> <a href="<%= redirect_path(url: "http://www.delta.ru/", local_url: "/main") %>"> <img src="../images/logo_delta.png" /> </a> </div></li>
<li><div class="white_cub white_cub_6"> <a href="<%= redirect_path(url: "http://www.gibdd.ru/", local_url: "/main") %>"> <img src="../images/logo_mvd.png" /> </a> </div></li>
<li><div class="white_cub white_cub_7"> <a href="<%= redirect_path(url: "http://xn----7sbb3armfhpk6czfe.xn--p1ai/", local_url: "/main") %>"> <img src="../images/TBO.jpg" /> </a> </div></li>
	    </ul>
	</div>
				
		</div>
	</div>
</div>

<div class="clear"></div>

<script>
	// Карусель на главной
$( document ).ready(function() {
    // $(".white_cubs_carousel").jCarouselLite({
    //     btnNext: ".next",
    //     btnPrev: ".prev",
    //     auto: 10000,
    //     speed: 1000,
    //     visible: 2
    // });

        $(".guide_carousel").jCarouselLite({
        btnNext: ".guide_next",
        btnPrev: ".guide_prev",
        speed: 500,
        visible: 1, 
    });
});

</script>

<% if flash[:notice] %>
	<script>
		$( document ).ready(function() {
			popUpRender("<%= flash[:notice] %>");
    		console.log( "ready!" );
			});
	</script>
<% end %>