$('div.insert_info_here').html('');
<% unless @precinct == {} %>
$('#detailed_info').html('<p class="precinct_info" > <%= @precinct.surname %> <%= @precinct.name %> <%= @precinct.middlename %> </p>'
+ '<p class="precinct_info"> <span> Адрес:</span> <%= @precinct.ovd_town %>, ул <%= @precinct.ovd_street %>, д <%= @precinct.ovd_house %> </p>'
+ '<p class="precinct_info"> <span> ОВД:</span> <%= @precinct.ovd %> </p>'
+ '<p class="precinct_info"> <span> Телефон: </span> <% if @precinct.ovd_telnumber == '' %> не указан <% else %> <%= @precinct.ovd_telnumber %> <% end %> </p>');
<% else %>
$('#detailed_info').html('<p> Совпадений не найдено. </p>');
<% end %>