<h1><%= @tag.title %></h1>

<div class="tag_cloud fi_tag_tag_cloud" >
	<h2>Выбор категории</h2>
	<% @tags.each do |tag| %>
		<a href='<%= freelance_interface_tag_path(tag.id) %>' style="font-size:<%= 15 + Random.rand(5) %>px;"> <%= tag.title %>  </a>
	<% end %>
</div>

<!-- <div class="fi_top_freelancers">
	<% 4.times do %>
		<a class="fi_top_freelancer" href="#"><img src="/assets/no_freelancer.jpg" alt=""></a>
	<% end %>
</div>
 -->
	<% if @top_four_freelancers != [] %>
		<% @top_four_freelancers.each do |t_t_f| %>
			<a class="fi_top_freelancer" href="<%= freelance_interface_freelancer_path(t_t_f.freelancer.id) %>">
				<% if t_t_f.freelancer.picture_url? %>
	      			<%= image_tag("http://izkh.ru/images/fi/#{t_t_f.freelancer.picture_url.to_s.split('/').last}") %>
	      		<% else %>
	      			<img src="/assets/no_freelancer.jpg" alt="">
	      		<% end %>
				<p><%= t_t_f.freelancer.name %></p>
			</a>
			
		<% end %>
	<% end %>
	<% @top_four_count.times do %>
		<a class="fi_top_freelancer" href="#">
			<img src="/assets/no_freelancer.jpg" alt="">
			<p>Свободно</p>
		</a>
	<% end %>



<% if @freelancers == [] %>
	<br><br><br>
	<p>В данной категории нет зарегистрированных объявлений</p>
<% else%>
	<% @freelancers.each do |f| %>
		<div class="fi_tag_freelancer">	
			<a href="<%= freelance_interface_freelancer_path(f.id) %>" style="display: inline-block; width: 400px; text-decoration: none;">
		      	<% if f.picture_url? %>
	      			<%= image_tag("http://izkh.ru/images/fi/#{f.picture_url.to_s.split('/').last}") %>
	      		<% else %>
	      			<img src="/assets/no_freelancer.jpg" alt="">
	      		<% end %>
		      	
		      	<p><%= f.name %> <%= f.surname %></p>
				<p>тел. <%= f.phone_number %></p>
			</a>
			<br>
		</div>
	<% end %>
<% end %>