<h1>Модерация</h1>

<h2>Модерация заявок фрилансеров</h2>
<div class="fi_moderation_block">
		<% if @freelancers == [] %>
			<p>Нет новых заявок</p>
		<% else %>
			<% @freelancers.each do |f| %>
				<div class="fi_moderation_section">

					<%= render 'controls', object: f, object_type: 'freelancer' %>

					<p>Фрилансер: <%= f.name %> <%= f.surname %>. id: <%= f.id %></p>
					<p>Телефон: <%= f.phone_number %></p>
					<%= f.unpublish_at %>
					<p>Опубликовано: <%= f.created_at %></p>
					User id: <%= f.user_id %>; email: <%= User.find(f.user_id).email %> 

				</div>
			<% end %>
		<% end %>
	</div>
<br><br>

<h2>Модерация отзывов к анкетам</h2>
<div class="fi_moderation_block">
		<% if @comments == [] %>
			<p>Нет новых отзывов</p>
		<% else %>
			<% @comments.each do |c| %>
				<div class="fi_moderation_section">

					<%= render 'controls', object: c, object_type: 'comment' %>

					<p>Сообщение: <%= c.body %></p>
					<p>Опубликовано: <%= c.created_at %></p>

				</div>
			<% end %>	
		<% end %>
</div>
<br><br>

<h2>Добавление тегов в облако</h2>

<div class="fi_moderation_block">
		<% if @tags == [] %>
			<p>Нет новых тегов</p>
		<% else %>
			<% @tags.each do |t| %>
				<div class="fi_moderation_section">
					
					<%= render 'controls', object: t, object_type: 'tag' %>

					<p> <%= t.title %></p>
				</div>
			<% end %>
		<% end %>
</div>


<script>
	
	$('input[type="checkbox"]').on('change', function() {

		var _this = this;
		var $this = $(this);
		
		var _data = {};
		
		_data[$this.attr('object-type')] = {
			id: $this.attr('object-id'),
		     published: _this.checked 
		}

		$.ajax({
		    type: "PUT",
		    url: "/freelance_interface/" + $this.attr('object-type') + "s/" + $this.attr('object-id'),
		    data: _data,
		    success: function(result){ console.log(result); },
		    error: function(result){ console.log(result); alert('Что-то пошло не так.'); }
		})
	});

</script>

