<h1>Модерация заявок фрилансеров</h1>
<% @freelancers.each do |f| %>
	<p>
		<%= f.name %> 
		<%= f.surname %>
		<%= f.phone_number %>
		<%= f.unpublish_at %>
		<%= f.created_at %>
		<%= f.user_id %>
	</p>
	<hr>
<% end %>