//alert("<%= @non_utility_vendor.id %>");
// $("div#place_card_box").append('escape_javascript render("shared/place_card")');
//$("a#non_utility_vendor_<%= @non_utility_vendor.id %>").after('<tr><td><%= @non_utility_vendor.title %></tr></td>');
//   $("a#non_utility_vendor_<%= @non_utility_vendor.id %>").click(function{
// 	alert('что-то произошло');
// 	$("div").one($("div#nu_vendor_<%= @non_utility_vendor.id %>").toggle(''));
// })