<%= session_path(resource_name)%>
<div class="container">
	<div class="logo_top"></div>
	<div class="form_box">
		<div class="logo_btm"></div>
		<div class="login_form_texts">
			<div><p>Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p></div>
			<div class="blue_text"><p>Вход в систему</p></div>
		</div>
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<div class="login_inputs">
				<%= f.email_field :email, :autofocus => true, :placeholder=>"Логин" %>
				<%= f.password_field :password, :placeholder=>"Пароль" %>
			</div>
			<div class="login_buttons">
				<% if devise_mapping.rememberable? -%>
					<label>
						<%= f.check_box :remember_me %> 
						<span class="login_input_check"></span></label><p>Запомнить меня</p>
			  	<% end -%>
				<%= f.submit "Войти", :class=>:submit_button_login %>
			</div>
		<% end %>

		<div class="login_reg"><p><%= link_to "Зарегистрируйтесь", "offer" %> и начните использование</p></div>
	</div>
	<p class="little_white_text">Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
	<%= link_to "", "#", class: "app_download" %>
</div>