%h1 Transactions report

= simple_form_for :transactions, url: admin_reports_transactions_path(format: "xls"), method: :post do |f|
  = f.input :from, as: :string
  = f.input :to, as: :string
  = f.submit "Download xls"

%h1 Users report

= simple_form_for :users, url: admin_reports_users_path, method: :post do |f|
  = f.submit "Download xls"