<%= form_for @freelancer, remote: true do |f| %>

<div id="freelancer_info">
		<p class="freelancer_info_picture">
			<img src="/assets/no_freelancer.jpg" alt="">
			<br>
			<!-- 
			<%= f.label :picture_url, 'Загрузить фото' %><br>
			 -->
	    	
	    	<%= f.file_field :picture_url %>
	  	</p>
	
		<p class="freelancer_info_data" >
	    	<%= f.label :name, 'Ваше имя' %><br>
	    	<%= f.text_field :name, value: current_user.first_name %>
	  	</p>
	 
		<p class="freelancer_info_data" >
		    <%= f.label :surmane, 'Ваша фамилия' %><br>
		    <%= f.text_field :surname %>
		</p>
	
		<p class="freelancer_info_data" >
		    <%= f.label :phone_number, 'Телефон контакта' %><br>
		    <%= f.text_field :phone_number, value: current_user.phone_number  %>
		</p>

		<div class="clear"></div>
</div>

<br>
<p class="freelancer_tag_info">Для добавления тегов к своему объявлению, выберите тег в правой колонке и нажмите на него мышкой. С учётом добавленных тегов рассчитается стоимость объявления в месяц </p>
<p class="freelancer_tag_info">Добавляйте теги к Вашему объявлению для того, чтобы Вас проще было найти пользователям сервиса. Каждый тег стоит 10 рублей/месяц</p>

<p class="fi_cost_by_month"> 
	<span>0</span> рублей/месяц
</p>

<br>

	<p>
		<!-- <%= f.label :tags, 'Категории' %><br> -->
		<%= f.select(
			:tags, 
			grouped_options_for_select(@tags_array),
		    { :prompt => nil },
		    { :multiple => true, :size => 10 }
		) %>
	</p>

	<p>		
		<%= select_tag(
			'custom_tags', 
		    {  },
		    { multiple: true, hidden: true }
		) %>

		<%= label_tag 'custom_tag_field', 'Добавить свою категорию (требует модерации)' %><br>
		<%= text_field_tag 'custom_tag_field' %>
		<%= button_tag 'Добавить', id: 'add_custom_tag', type: 'button' %><br>
	</p>

	<p>
		<%= f.label :number_of_month, 'На сколько месяцев Вы хотите разместить объявление?' %>
		<br>
		<%= f.radio_button :number_of_month, 1 %>
		<%= f.label :number_of_month, '1 месяц', value: 1 %>
		<br>
		<%= f.radio_button :number_of_month, 6 %>
		<%= f.label :number_of_month, '6 месяцев', value: 6 %>
		<br>
		<%= f.radio_button :number_of_month, 12 %>
		<%= f.label :number_of_month, '12 месяцев', value: 12 %>
	</p>

	<p>
		Хотите оказаться на главной странице сервиса?
		<br>
		<!-- 
			ДОБАВИТЬ ЧИСЛО СВОБОДНЫХ МЕСТ
		 -->

		<%= f.check_box :top_ten_freelancer %>
		<%= f.label :top_ten_freelancer, 'Главная +250 руб/в месяц - ' + @top_ten_count.to_s + ' мест' %>
	</p>

	<%= hidden_field_tag :amount_total %>

	<p class='fi_total_cost'>
		<span></span> рублей - <span>месяцев</span> 
	</p>
 
  	<p>
    	<%= f.submit 'Зарегистрировать объявление' %>
  	</p>
<% end %>