<h1>Профиль фрилансера</h1>

<div id="freelancer_profile_info"> 
      <% if @freelancer %>

      	<%= image_tag @freelancer.picture_url.url if @freelancer.picture_url %>

      	<p><%= @freelancer.id %></p>
      	<p><%= @freelancer.picture_url %></p>
		<p><%= @freelancer.name %></p>
		<p><%= @freelancer.surname %></p>
		<p><%= @freelancer.phone_number %></p>
		<p><%= @freelancer.published %></p>
      <% end %>

      <% if @tags %>
      	<div style="_height: px; width: 47%;background-color: #FFF;border: 1px solid #FFF; text-align: left;">
			<% @tags.each do |tag| %>
				<a href="#" style="font-size:<%= 15 + Random.rand(5) %>px;text-decoration:none; margin-left: 10px; border-bottom: 1px dotted; color: #000;"> <%= tag.title %>  </a>
			<% end %>
		</div>
      <% end %>
</div>


<br>

<div id="comments">
	<p>Отзывы</p>
	

	<% if @comments == [] %>
		<p>Нет отзывов</p>
	<% else %>
		<% @comments.each do |c| %>
			<p><%= c.body %></p>
		<% end %>
	<% end %>

	<% unless current_user %>
		<p>
			<a href="/login">Войдите</a> в систему, чтобы оставить отзыв.
		</p>
	<% else %>
		<p>

			<%= form_for @comment, remote: true, method: :post do |f| %>
				<%= f.hidden_field :freelancer_id, value: @freelancer.id %>
				<%= f.text_field :body, placeholder: "Введите Ваш отзыв" %>
				<%= f.submit "Подтвердить" %>
			<% end %>
		</p>
	<% end %>
</div>

