<% if @freelancer.picture_url %>
	<p><%= @freelancer.picture_url %></p>
<% else %>
	<p><img src="/assets/freelancer_<%= @freelancer.id %>" alt=""></p>
<% end %>

<% if @freelancer.title %>
	<p><strong>Название:</strong><%= @freelancer.title %></p>
<% end %>

<% if @freelancer.description %>
	<p><strong>Описание:</strong><%= @freelancer.description %></p>
<% end %>

<% if @freelancer.name %>
	<p><strong>Контактное лицо:</strong><%= @freelancer.name %></p>
<% end %>

<% if @freelancer.phone %>
	<p><strong>Телефон:</strong><%= @freelancer.phone %></p>
<% end %>

<% if @freelancer.work_time %>
	<p><strong>Время работы:</strong><%= @freelancer.work_time %></p>
<% end %>


