<% if @commission %>
commission = <%= @commission/100 %>; 
<% else %>
commission = 0; 
<% end %>

<% if @commission_yandex %>
commission_yandex = <%= @commission_yandex/100 %>; 
<% else %>
commission_yandex = 0; 
<% end %>

<% if @commission_webmoney %>
commission_webmoney = <%= @commission_webmoney/100 %>; 
<% else %>
commission_webmoney = 0; 
<% end %>

$("#meter_reading_box").hide();
$('div.cards_list').hide();

if ($("input.recipe_check").attr("checked") == "checked")
    {
       $('span#recipe_is_paid_span').click();
    }
    else
    {
            // console.log("not checked");
    }

if ("<%= @vendor_id %>" === "5" ||  "<%= @vendor_id %>" === "40" || "<%= @vendor_id %>" === "146")
    {
        $('#cyfral_banner').html('<a href="http://videobezopasnost.com"><img style="padding-top: 30px;" src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-756897861289/izkh/assets/baner-930-x100_sam.gif" /></a>');
    }
else if ("<%= @vendor_id %>" === "43" || "<%= @vendor_id %>" === "44")
    {
        $('#cyfral_banner').html('<a href="http://videobezopasnost.com"><img style="padding-top: 30px;" src="https://s3-us-west-2.amazonaws.com/elasticbeanstalk-us-west-2-756897861289/izkh/assets/baner-930-x100-1.gif" /></a>');   
    }
else   
    {
        $('#cyfral_banner').html('');   
    }

$('#tariff_selected_box').hide();
//$('#tariff_selected_box').html('<%= escape_javascript render("web_interface/shared/tariff_form")%>');
$('.end_button').removeAttr('disabled');
$('#amount_total').removeAttr('disabled');
$('#tariff_selected_box').fadeIn(300);
$('input#account_id').attr('value', '<%= @account.id %>');
$('input#amount_total').attr('value', '<%= @account.amount %>');
$('span#tax_total_value').html('0');

$('input#vendor_id').val('<%= @vendor_id %>');
var vendor_id = parseInt($('input#vendor_id').val());

<% if @account.status == -1 %>
$('.recipe_is_paid').show();
<% else %>
$('.recipe_is_paid').hide();
<% end %>

$("#meter_reading_box").fadeIn(300);

<% if @tariff.has_readings %>
$("div#meter_reading_box").html('<%= escape_javascript render("web_interface/shared/meter_reading_form") %>');
        <% if @account.amount != 0.0 %>
                $('.recipe_is_paid').hide();
                $('.recipe_is_paid_freeze').show();
                $('span#recipe_is_paid_span').click();
                $('div.end .end_button').removeAttr('disabled');
        <% else %>
                $('.recipe_is_paid_freeze').hide();
                $('div.end .end_button').attr('disabled','disabled');
        <% end %>
                $('#tax_total').hide();
<% else %>
                $("div#meter_reading_box").html('<%= escape_javascript render("web_interface/shared/create_account_form") %>'); 
                $('.recipe_is_paid_freeze').hide();
                $('div.end .end_button').removeAttr('disabled');
                $('span#tax_total_value').html('<%= @service_tax %>');
                $('#tax_total').show();
<% end %>

<% if @vendor_id == 0 %>
                $('div.end .end_button').attr('disabled','disabled');
                $('#tax_total').hide();
<% end %>

var $gt_info = $('div#gt_info');
$gt_info.html('');

<% if (@vendor_id == 121) %>
        console.log('<%= @live_balance_data %>');
        
        <% if @live_balance_data.to_s != 'null' %>
                var live_balance_data = <%= @live_balance_data.html_safe %>;
                $gt_info.append('<p> <span> ФИО: </span> ' + live_balance_data.comment + '</p>');
                $gt_info.append('<p> <span> № договора: </span> ' + live_balance_data.title + '</p>');
                $gt_info.append('<p> <span> Баланс: </span> ' + live_balance_data.balance + '</p>');
        <% else %>
                $gt_info.html('<p>Договор не найден. Пожалуйста, проверьте правильность введённого лицевого счёта.</p>');
        <% end %>
<% end %>

<% if (@vendor_id == 165) %>
        console.log('<%= @live_balance_data %>');
        
        <% if @live_balance_data.to_s != 'null' %>
                var live_balance_data = <%= @live_balance_data.html_safe %>;
                $gt_info.append('<p> <span> ФИО: </span> ' + live_balance_data.fio + '</p>');
                $gt_info.append('<p> <span> № договора: </span> ' + live_balance_data.user_account + '</p>');
                $gt_info.append('<p> <span> Текущее состояние счёта: </span> ' + live_balance_data.debt + '</p>');
                $gt_info.append('<p> <span> Состояние счета с учетом услуг: </span> ' + live_balance_data.hot_debt + '</p>');
        <% else %>
                $gt_info.html('<p>Договор не найден. Пожалуйста, проверьте правильность введённого лицевого счёта.</p>');
        <% end %>
<% end %>