<div class="top_plate">
        <p class="text_plate_gray">Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
        <p class="text_plate_blue">Оплата счетов</p>
</div>


<div class="container_boxes">
        <div class="vertical_div vertical_div_left">
                <div class="box_left box_blue">
                        <div class="data_box_top">
                                <p>Выберите объект</p>
                        </div>
                        <div class="pay_text">
                        <% if @places != [] %>
                        <ul>
                                <% @places.each do |place| %>
                                        <!--%= link_to place.title, "/get_service/#{place.id}", remote: true, method: :post, class: "object" %-->
                                        <%= link_to "/get_service/#{place.id}", remote: true, method: :post, class: "object", id: "#{place.id}" do %>
                                                <li>
                                                        <p class="place_title"><%=place.title%></p>
                                                        <p class="place_sub_title"><%= "#{place.city}, #{place.street}, #{place.building}, #{place.apartment}" %>
                                                </li>
                                        <% end %>
                                <% end %>
                        </ul>
                        <% else %>
                                <p style="padding: 10px;">Не найдено ни одного объекта. Перейдите в <a id="no_object_found" href="<%= profile_path %>">профиль</a> для добавления объектов и услуг.</p>
                        <% end %>

                        </div>
                        
                </div>

        <% if @places != [] %>
                <div class="box_left box" id="service_list_box">
                        <div class="data_box_top">
                                <p>Услуга(Поставщик)</p>
                        </div>
                        <div class="service_pay_block">
                                <%= render 'web_interface/shared/service_list'%>
                        </div>
                </div>
        <% end %>                



        </div>

        <div class="vertical_div vertical_div_right">

        
        <div class="box_right box_blue" id="meter_reading_box" style="display:none;">

                        <div class="data_box_top">
                        <p>
                                Ввод показаний счётчика
                        </p>
                        </div>
                         <div class="price_pay" style="min-height: 160px;">
                                <p>Данный функционал будет доступен в ближайшее время.</p>
                                <p>Приносим извинения за неудобства.</p>
                        </div>
        
        </div>

                <% if @places != [] %>
                        <div class="box_right box_blue" id="tariff_selected_box" style="padding-bottom: 5px; display:none;">
                                <%= render 'web_interface/shared/payment_form'%>
                        </div>
                <% end %>

        
        </div>

<div class="clear"></div>
</div>