				<div class="top_plate">
					<p class="text_plate_gray">Сервис для учета расходов и оплаты услуг в сфере ЖКХ</p>
					<p class="text_plate_blue">Оплата счетов</p>
				</div>
				<div class="container_boxes">
					<div class="horizontal_div">
						<div class="box_left box_blue">
							<div class="data_box_top">
								<p>Выберите объект</p>
							</div>
							<div class="pay_text">
								<% @places.each do |place| %>
									<%= link_to place.title, "/get_service/#{place.id}", remote: true, method: :post, class: "object" %>
								<% end %>
							</div>
							
						</div>
						<div class="box_right box">
							<div class="data_box_top">
								<p>Услуга(Поставщик)</p>
							</div>
							<div class="service_pay_block">
								<%= render 'web_interface/shared/service_list'%>
							</div>
						</div>
					</div>
					<div class="horizontal_div">
						<div class="box_left box_blue">
							<div class="data_box_top">
							<p>
								Выбранный тариф
							</p>
							</div>
							<div class="tarif_selected_pay">
								<!--p>Вы выбрали <%= text_field_tag(:tarif_selected, @tariff.title, :class=>:pay_selected, :readonly=>:readonly) %>для услуги 
									<%= text_field_tag(:service_selected, @service.title, :class=>:pay_selected, :readonly=>:readonly)%>для объекта 
								<%= text_field_tag(:place_selected, @place.title, :class=>:pay_selected, :readonly=>:readonly)%></p>
							</div>
							<div class="price_pay">
								<p>Текст тут такой да, если нужен оставишь, мб это цена: за киловаты там и тд</p>
								<%= text_field_tag(:price, "1р", :class=>:price, :readonly=>:readonly) %>
							</div>
							<div class="tarif_input_pay">
								<p>Параметр тарифа если есть</p>
								<%= text_field_tag(:input_money, "", :placeholder=>"Поле для ввода", :class=>:money_input) %>
							</div>
							<div class="pay_ended">
								<p>Сумма к оплате:</p>
								<%= text_field_tag(:price_for_pay, "1р", :class=>:price_for_pay, :readonly=>:readonly) %>
							</div-->
						</div>
						<div class="box_right box_blue">
							<div class="box_top_right ">
								<p>Оплата</p>
							</div>
							<div class="visa_mc">
								<p>Оплата банковской картой</p>
								<div class="visa"></div>
								<div class="mc"></div>
							</div>
							<div class="end">
								<%= submit_tag("Оплатить", :class=>:end_button) %>
							</div>
						</div>
					</div>
				</div>