<h1><%= @news_item.title %></h1>
<p><%= @news_item.body.html_safe %></p>

<%= link_to 'На главную', root_path %>


    	<p><%= link_to 'Редактировать', :action => :edit, :id => @news_item.id %></p>
    	<p><%= link_to 'далить', "/web_interface/news_items/#{@news_item.id}", method: :delete, confirm: 'Вы уверены?' %></p>
