!!! html
%html
  %head
    %title АйЖКХ - Админка
    = stylesheet_link_tag "application", media: "all", debug: false
    = csrf_meta_tags
  %body
    .navbar.navbar-default
      .container
        .navbar-header
          = link_to 'АйЖКХ - Админка', root_path, class: 'navbar-brand'
        %ul.nav.navbar-nav
          - [:users, :uploads, :reports, :vendors, :analytic_queries].each do |section|
            %li{class:('active' if params[:controller] == section.to_s)}
              = link_to t("activerecord.models.#{section.to_s.singularize}"), send(['admin', section, 'path'].join('_'))
        %ul.nav.navbar-nav.navbar-right
          %li= link_to 'Выход', destroy_user_session_path
    .container
      = yield
  = javascript_include_tag 'application'
  = yield(:javascripts)

