<!DOCTYPE HTML>
<html>
	<head>
		<title></title>
		<%= javascript_include_tag :application %>
		<%= csrf_meta_tag %>
		<meta charset="utf-8">

		<!--[if gte IE 9]>
		  <style type="text/css">
		    .gradient {
		       filter: none;
		    }
		  </style>
		<![endif]-->

		
		<% if params[:controller] == "web_interface/redirect_page" %>
			<meta HTTP-EQUIV="REFRESH" CONTENT="10; URL=<%= @url %>">	
		<% end %> 
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	
		<meta property="og:title" content="Сервис 'АйЖКХ'"/>
	    <meta property="og:url" content="http://izkh.ru"/>
	    <meta property="og:image" content="http://izkh.ru/images/logo-round.png"/>
	    <meta property="og:description" content="Сервис для учета расходов и оплаты услуг в сфере ЖКХ."/>

		<%= stylesheet_link_tag root_path+"stylesheets/resetor.css" %>

		<% if params[:controller] != "sessions" and  params[:controller] != "web_interface/offer"  and params[:controller] != "passwords"  %>
			<%= stylesheet_link_tag root_path+"stylesheets/custom_with_menu.css" %>
		<% else %> 
			<%= stylesheet_link_tag root_path+"stylesheets/custom.css" %>
		<% end %>
	
		<%= javascript_include_tag root_path+"javascripts/jquery-1.8.3.min.js" %>
		<%= javascript_include_tag root_path+"javascripts/custom.js" %>
		
		<%= javascript_include_tag root_path+"javascripts/jquery.formstyler.js" %>
		<%= stylesheet_link_tag root_path+"stylesheets/jquery.formstyler.css" %>

		<%= stylesheet_link_tag root_path+"stylesheets/morris.css" %>
		
		<% if params[:controller] == "web_interface/main" %>
			<%= javascript_include_tag root_path+"javascripts/jcarousellite-1.0.1.min.js" %>
		<% end %> 


		
		
	</head>
	<body>



	<div class="wrapper">
		

<!-- <div id="ajax_loader">
	<div id="ajax_loader_center">
	</div>	
</div> -->
				<% if params[:controller] != "web_interface/offer"%> <!--div class="container"--> <% end %>
				<%if params[:controller] != "sessions" and params[:controller] != "web_interface/offer" and params[:controller] != "passwords"  %>
					<%= render "web_interface/shared/menu"%>
				<%end%>

		<div class="content">
					<%= yield %>
					<div class="clear"></div>
		</div>

		<div class="for_pop_up"> </div>

	</div>

			<%if params[:controller] != "sessions" and params[:controller] != "web_interface/offer" and params[:controller] != "passwords"  %>
				<%= render "web_interface/shared/footer"%>
			<% end%>
			<% if params[:controller] != "web_interface/offer" %><!--/div--><% end %>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter22270684 = new Ya.Metrika({id:22270684,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/22270684" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

	</body>
</html>