<!DOCTYPE HTML>
<html>
	<head>
		<title></title>
		<%= javascript_include_tag :application %>
		<%= csrf_meta_tag %>
		<meta charset="utf-8">
		
		<% if params[:controller] == "web_interface/redirect_page" %>
			<meta HTTP-EQUIV="REFRESH" CONTENT="10; URL=<%= @url %>">	
		<% end %> 
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="stylesheets/resetor.css">
		<% if params[:controller] != "sessions" and  params[:controller] != "web_interface/offer" %>
			<link rel="stylesheet" type="text/css" href="stylesheets/custom_with_menu.css">
		<% else %> 
			<link rel="stylesheet" type="text/css" href="stylesheets/custom.css">
		<% end %>
		<script type="text/javascript" src="javascripts/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="javascripts/custom.js"></script>
		<script type="text/javascript" src="javascripts/jquery.formstyler.js"></script>
		<link rel="stylesheet" type="text/css" href="stylesheets/jquery.formstyler.css">
	</head>
	<body>

	<div class="wrapper">

				<% if params[:controller] != "web_interface/offer"%> <!--div class="container"--> <% end %>
				<%if params[:controller] != "sessions" and params[:controller] != "web_interface/offer" %>
					<%= render "web_interface/shared/menu"%>
				<%end%>

		<div class="content">
					<%= yield %>
					<div class="clear"></div>
		</div>

		<div class="for_pop_up"> </div>
	</div>

			<%if params[:controller] != "sessions" and params[:controller] != "web_interface/offer" %>
				<%= render "web_interface/shared/footer"%>
			<% end%>
			<% if params[:controller] != "web_interface/offer" %><!--/div--><% end %>


	</body>
</html>